@keyframes random-polka {
  0% {
    background-position: 0 0, 25px 25px;
  }
  50% {
    background-position: 150px 150px, 100px 100px;
  }
  100% {
    background-position: 0 0, 25px 25px;
  }
}

@keyframes ripple-1 {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 2;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
  }

  95% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 2;
  }
}

@keyframes ripple-2 {
  0% {
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  49.99% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 2;
  }

  99.99% {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
  }

  100% {
    z-index: 1;
  }
}

