.polka {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: #f6cd64;
  width: 100%;
  height: 100%;

  &--animated {
    background-image: radial-gradient(#caa64a 20%, transparent 20%),
      radial-gradient(#f5d992 20%, transparent 20%);
    background-color: #fcba14;
    background-position: 0 0, 25px 25px;
    background-size: 25px 25px;
    animation: random-polka 8s infinite;
  }
}
