
.critter-card-item {
  transition: .15s;
  
  &__image { 
    pointer-events: none;

    
  }
  
  &__button {
    
    cursor: pointer;
    background: none;
    border: none;
    margin: 6px;
    position: relative;

    &:hover {
      box-shadow: 0px 0px 0px 3px #DBD3A4;
    }
    // &:hover {

    //   &::after {
    //     content: '';
    //     width: calc(100% - 10px);
    //     height: calc(100% - 10px);
    //     position: absolute;
    //     top: 5%;
    //     left: 5%;
    //     border: 2px solid #DBD3A4;
    //   }
    // }
    
    &:focus {
      background: red;
    }

    &:focus-visible {
      outline: none; // todo change it
    }
    
    &:active {
      background: green;
      transform: scale3d(.9, .9, 1);
      box-shadow: inset 0px 0px 2px 2px black;
    }
  }


}